/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  font-family: $font-stack;
  font-weight: 300;
  font-style: normal;
  font-size: $global-font-size * 1.125
}

h1, h2 {
  font-family: $font-header;
  font-weight: 400;
  font-style: normal;
}


h3, h4, h5, h6, .semibold, blockquote {
  font-family: $font-subhead;
  font-weight: 400;
  font-style: normal;
}

strong {
  @extend %extend_1;
}
b {
  @extend %extend_1;
}
.bold {
  @extend %extend_1;
}
.b.em {
  @extend %extend_2;
}
.strong.em {
  @extend %extend_2;
}

em, i {
 @extend %extend_2;
}

blockquote, blockquote p {
	color: $black;
}


.iconfont {
	font-family:'flagship-icon';
}

li.external a::after {
	content:"\e007";
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:normal;
	color:#FFF;
	-webkit-font-smoothing:antialiased;
	float:none;
	display:inline;
	font-size:85%;
	padding-left:4px;
}

ul.nav {
  list-style: none;
  li {
    padding: 10px 0 8px 0px;
    font-size: 1rem;
    ul li {
     border-top: none;
     font-size: 1rem;
     padding: 5px 0 0px 5px;
     text-indent: -15px;
     margin-left: 15px;
     list-style: none;
      &:before {
        content: "\e010";
        font-family: 'flagship-icon';
        color: #999;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 75%;
      }
    }
  }
}

.icon-arrow-right-2:before {
	content:"\e010";
}


[data-icon]:before {
	font-family:'flagship-icon';
	content:attr(data-icon);
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,[class*=" icon-"]:before,a[href*=".ppt"]:before,a[href*=".pptx"]:before,a[href*=".zip"]:before,a[href*=".xls"]:before,a[href*=".xlsx"]:before,a[href*=".doc"]:before,a[href*=".docx"]:before,a[href*=".pdf"]:before {
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	margin-right:3px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.padding-five {
  padding: 5px;
}

.floatleft, .alignleft {
    float: left;
    margin-right: 15px;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $primary-color;
	&:hover, &:focus {
		color: $primary-color;
	}
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

#main {
	a {
		border-bottom: .125em dotted;
		border-bottom-color: rgba(0,0,0,.2);
		&:hover, &:active {
		  	color: $black;
		  	border-bottom-style: solid;
		}
	}
	ul.accordion a.accordion-title {
	  border-bottom: 1px solid #e6e6e6;
	}
	ul, ol {
	margin-left: 2rem;
	}
}


.textwidget {
	p a, ul a {
		border-bottom: .125em dotted;
		border-bottom-color: rgba(0,0,0,.2);
		&:hover, &:active {
		  	color: $black;
		  	border-bottom-style: solid;
		}
	}
}


/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1, .page-title, .entry-title.single-title {
	font-size: 2rem;
} 


h2, .h2 {
font-size: 1.8rem;
line-height: 1.3;
}

h3, .h3 {
font-size: 1.6rem;
line-height: 1.25;
}

h4, .h4 {
font-size: 1.4rem;
line-height: 1.2;
}

h5, .h5 {
font-size: 1.2rem;
}



.article-header {
	h2 {
		font-size: 1.5rem;
	}
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

.header {
	background: $primary-color;
	 .logo{
		width: 222px;
    	height: 142px;
    	padding-top: 7px;
	 }
	 img.centered {
	 	 display: block;
    margin-left: auto;
    margin-right: auto 
	 }
	 h1 {
    	@include breakpoint(medium) {
		 	font-size: 2rem;
	    	line-height: 1.1em;
    	}
    	@include breakpoint(large) {
		 	font-size: 2.35rem;
	    	line-height: 1.1em;
	    	margin-top:3.4rem;
    	}
		 	small {
		 		font-size: 50%;
			 	color: #fff;
			 	margin-bottom: 1px;
			 	display: block;
		    	line-height: 1.3;
		 	}
		 	a, a:visited {
		 		color: #fff;
					&:hover, &:focus {
						color: #fff;
					}
		 	}
	}
}

.mobile-logo {
  position: relative;
  margin: 0 auto;
  img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  a {
    margin-top: 0;
  }
  &:hover {
  background: none;
  }
}

#mobile-nav {
  background: $primary-color;
   h1 {
   	text-align: center;
   }
}

@media only screen and (min-width: 512px) and (max-width: 566px) {
	.top-bar ul li a {	
			font-size: 13px;
			padding-right: inherit;
	}
}

@media only screen and (max-width: 767px) {
  .mobile-logo {
    img {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 1023px) {
    #desktop-nav {
    display: none;
  }
    html, body {
    overflow-x: hidden;
  }
}


@media only screen and (min-width: 1023px) {
    #mobile-nav {
    display: none;
  }
}
    
/*********************
NAVIGATION STYLES
*********************/

.top-bar {
	background-color: $primary-color;
	.title-area {
		z-index: 1;
	}
	ul {
		background-color: $primary-color;
		li {
			background-color: $primary-color;
			a, a:visited {
				border-bottom: 0px;
				color: #fff;
					&:hover, &:focus {
						color: #fff;
					}
			}
		}
	}
	input {
		margin-right: inherit;
	}
}

body.black {
	.top-bar, #sidebar_header {
		background-color: $black;
		ul {
			background-color: $black;
			li {
				background-color: $black;
			}
		}
		.is-dropdown-submenu-parent.is-down-arrow > a::after {
			border-color: #fff transparent transparent;
		}
	}
	.sidebar .nav {
		a {
			color: $black;
		}
	}
}
body.green {
	.top-bar, #sidebar_header {
		background-color: $green;
		ul {
			background-color: $green;
			li {
				background-color: $green;
			}
		}
		.is-dropdown-submenu-parent.is-down-arrow > a::after {
			border-color: #fff transparent transparent;
		}
	}
	.sidebar .nav {
		a {
			color: $green;
		}
	}
}
body.red {
	.top-bar, #sidebar_header {
		background-color: $red;
		ul {
			background-color: $red;
			li {
				background-color: $red;
			}
		}
		.is-dropdown-submenu-parent.is-down-arrow > a::after {
			border-color: #fff transparent transparent;
		}
	}
	.sidebar  .nav {
		a {
			color: $red;
		}
	}
}
body.rust {
	.top-bar, #sidebar_header {
		background-color: $rust;
		ul {
			background-color: $rust;
			li {
				background-color: $rust;
			}
		}
		.is-dropdown-submenu-parent.is-down-arrow > a::after {
			border-color: #fff transparent transparent;
		}
	}
	.sidebar  .nav {
		a {
			color: $rust;
		}
	}
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: transparent transparent transparent #fff;
}


.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

#sidebar_header {
	padding:12px 15px 10px 0;
	background: $primary-color;
	a:hover {
	color:white;
	}
}

.sidebar.sidebar-right {
	padding-top:0;
	background: $grey;
}

.offset-gutter {
	margin-left: -20px;
    margin-right: -20px;
    zoom: 1;
}

.margin10 {
	margin-top: 1rem;
}

#search-bar {
	@include breakpoint (large) {
		margin-top: 3.4rem;
	}
	@include breakpoint (small) {
		margin-top: 1rem;
	}	
	background: #333;
	color: #ccc;
	font-family: $font-header;
	input {
		&[type="text"] {
		    height: 31px;
		    background: rgb(255, 255, 255);
		    background: rgba(255, 255, 255, 0.75);
		    border-top-right-radius: .5rem;
		    border-bottom-right-radius: .5rem;
		    float: left;
		    width: 87%;
		    border: none;
		  }
		  &[type="submit"] {
		    background: #666;
		    height: 31px;
		    width: 30px;
		    font-family: 'flagship-icon';
		    border-top-left-radius: .5rem;
		    border-bottom-left-radius: .5rem;
		    font-size: 1rem;
		    border: none;
		    float: left;
		    color: #ccc;
		    margin-left: -15px;
		  }
		}
}


@media screen and (max-width: 39.9375em) {
	.menu > li:not(.menu-text) > a {
	    font-size: 15px;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.news-feed {
  padding: 10px;
  	h1 {
	  font-size: 1.5rem;
	  &.entry-title {
	    font-size: 1.25rem;
	    font-family: $font-subhead;
	  }
	}
   h2 {
		font-size: 1.25rem;
		font-family: $font-subhead;
   }
}

#content {
	#inner-content {
		padding: 1.25rem 0rem 1rem;
	}
	.tabs, .tabs-content {
		border: none;
	}
	.tabs-title {
		a {
		font-size: 1rem;
		border-bottom: none;
		border-bottom-color: rgba(0,0,0,.2);
			&:hover, &:active {
			  	color: none;
			}
		}
	}
	.tabs-title.is-active {
		border-top: 3px solid;
	}
	span.contact {
    	margin-right: .5rem;
	}
}

.hero {
	background: $grey;
}

#caption {
	@include breakpoint (large) {
		margin-top: 4em;
	}
	@include breakpoint (medium) {
		margin-top: 2em;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	font-family: $font-subhead;
	margin-bottom: 0rem;
	time {}
}

// Entry content  
.entry-content {
	  .imageblockleft {
	    float: left;
	    max-width: 300px;
	    margin-right: 1em;
	    margin-bottom: 5px;
	    a {
	      border: none;
	      &:hover, &:active {
	        border: none;
	      }
	    }
	  }
	  .wp-post-image {
	  margin-bottom: inherit;
	  }	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

img.news {
	margin-bottom: 1rem !important;
}


/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	background: $grey;
	padding: 0px 20px 1px 20px;
		@include breakpoint (large) {
			margin-top: 1rem;
			margin-bottom: 1.5rem;	
		}
		h5 {
			padding-left:20px;
			margin-top:0;
			margin-bottom:0;
			color: $grey;
			 a {
			 	color: #fff;
			 }
		}
		h6 {
			margin-bottom:7px;
			color:#000;
		}
}

#searchsubmit {
}

.widgettitle {
	padding-top:5px;
}

.widget {
	ul {
		margin: 0;

		li {

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}

.widget_text, .widget_black_studio_tinymce, .widget_recent_entries {
	.widgettitle {
		padding-top:5px;
	}
	.textwidget {
	font-size: 1rem;
	}
	ul {
		margin-left: 1rem;
	}
	border-bottom: 0.0625rem solid #cacaca;
	padding-top: .75rem;
    padding-bottom: 1.5rem;
    &:last-child {
    	border: none;
    }
}
/*********************
FOOTER STYLES
*********************/
footer {
	background: $black;
}
.footer {
  clear: both;
  padding-top: 1.5rem;
	a, a:visited {
	color: #CCC;
	    &:hover, &:focus {
			color: #ccc;    	
	    }
	}
}

.inline-list li a {
  color: #CCC;
}

#social-media {
  margin-top: 9px;
  a {
    content: none;
    color: $black;
    background: #555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    &:hover {
      color: $black;
      background: #CCC;
    }
  }
}

#menu-footer-links {
  margin-top: 15px;
  a {
    font-size: 12px;
  }
}

#copyright {
  clear: left;
  p {
    text-align: center;
    font-size: 12px;
    color: #CCC;
    margin: 20px 0 0;
  }
}

#fields_search {
  fieldset {
    background: #d9c89e;
    background: rgba(217, 200, 158, 0.3);
    padding: 15px;
    border: none;
  }
  h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
  }
  input {
    &[type="text"] {
      height: 40px;
      margin-bottom: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: inline;
      float: left;
      width: 80%;
      background: #4a484c;
      color: #ccc;
      font-family: $font-header;
      font-size: 16px;
      border: none;
    }
    &[type="submit"] {
      background: $black;
      height: 40px;
      width: 45px;
      font-family: 'flagship-icon';
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 26px;
      border: none;
      float: left;
      padding: 0;
      color: #ccc;
      margin-left: 10px;
    }
  }
}
	
/*********************
FOUNDATION STYLES
*********************/

.callout.primary {
    background: #d9c89e;
    background: rgba(217,200,158,.5);
}

.accordion-title {
	font-size: 16px;
	font-weight: bold;
	background: #f6f6f6;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

li.person {
  margin-bottom: 15px;
  min-height: 95px;
  padding-left: 20px;
  padding-top: 3px;
  list-style: none;
}

#directory li.person.sub-head {
  min-height: 1px;
  margin-bottom: 0;
  background: none;
  padding: 0;
}

li.person {
  &.sub-head h2 {
    font-size: 1.75rem;
    margin: 0 0 10px 0;
    color: #000;
  }
  img {
    max-width: 120px;
    clear: left;
    float: left;
    margin-bottom: 23px;
    margin-right: 15px;
  }
  h3 {
  	font-size: 1.5rem;
  }
  h4{
  	font-size: 1.125rem;
  }
}